<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/utils.js"></script>
    <title>User edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="blocks/bootstrap-css-style.html :: style">
    <link/>
</head>
<body>
<header th:insert="blocks/page-blocks.html :: header"></header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 text-center">
    <h1 class="display-4">User edit panel</h1>
    <hr>
    <p class="lead">User edit panel</p>
    <div th:insert="blocks/admin/user/fragments :: user-menu"></div>
    <hr>
    <div class="container">
        <div th:insert="blocks/admin/user/fragments :: edit-button(${user.getId()})"></div>
    </div>
</div>

<!-- TODO create another template to edit user -->
<div class="album py-5 bg-light text-center">

    <div class="container">
        <p class="lead" th:text="|User ''${user.getUsername()}'' info|"></p>
    </div>

    <div class="container">
        <div class="table-responsive-md">
            <table class="w-100 table table-striped">
                <caption>User info</caption>
                <thead>
                <tr class="table-dark">
                    <th:block th:insert="blocks/admin/user/fragments :: base-user-titles"></th:block>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <form th:id="'formEditUserInfo'"
                          th:action="'/admin/user/edit/'+${user.getId()}"
                          method="post" class="needs-validation">
                        <td class="align-middle" th:text="${user.getId()}">Id</td>
                        <td class="align-middle">
                            <input class="form-control align-middle" type="text" name="userName"
                                   th:value="${user.getUsername()}"></td>
                        <td class="align-middle">
                            <input class="form-control align-middle" type="text" name="email"
                                   th:value="${user.getEmail()}"></td>
                        <td class="align-middle" th:text="${user.getLogInProvider()()}">Provider</td>
                        <td class="align-middle">
                            <input class="form-control align-middle" type="text" name="role"
                                   th:value="${user.getRole()}"></td>
                        <td class="align-middle">
                            <input class="form-control align-middle" type="text" name="role"
                                   th:value="${user.getRole()}"></td>

                        <td class="align-middle" th:text="${user.getRole()}">UserRole</td>

                        <td><input class="form-check-input align-middle" type="checkbox" name="enable"
                                   th:value="${user.isEnabled()}" th:checked="${user.isEnabled()}"></td>

                        <td class="align-middle">
                            <button class="btn btn-outline-success" type="submit">Edit user</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <hr>
    </div>

    <div class="container">
        <th:block th:unless="${orderList.isEmpty()}">
            <div class="table-responsive-md ">
                <table class="w-100 table table-striped">
                    <caption>Order table</caption>
                    <thead>
                    <tr class="table-dark">
                        <th:block th:insert="blocks/table-titles :: order-titles-with-sorting('/admin/user/edit'+${user.getId()})"></th:block>
                        <th colspan="2">TOOLS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order, iterator: ${orderList}">
                        <th class="align-middle" scope="row" th:text="${iterator.count}">#</th>
                        <td class="align-middle" th:text="${order.getId()}">Id</td>
                        <td class="align-middle" th:text="${order.getUser().getId()}">UserId</td>
                        <td class="align-middle" th:text="${order.getUser().getUsername()}">Username</td>
                        <td class="align-middle" th:text="${#dates.format(order.getDateCreated(), 'yyyy-MM-dd')}">Date</td>
                        <td class="align-middle" th:text="${order.getComment()}">Comment</td>
                        <td class="align-middle" th:text="${order.getStatus()}">Status</td>
                        <td class="align-middle">
                            <a th:href="|@{/admin/order/view/}${order.getId()}|">
                                <button type="button" class="w-100 btn btn-outline-secondary">
                                    View
                                </button>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a th:href="|@{/admin/order/edit/}${order.getId()}|">
                                <button type="button" class="w-100 btn btn-outline-secondary">
                                    Edit
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>

    <div class="container">
        <th:block th:if="${orderList.isEmpty()}">
            <p class="lead" th:text="'No order found'"></p>
        </th:block>
    </div>

    <div class="container">
        <a th:href="|@{/admin/order/create?userName=}${user.getUsername()}|">
            <button type="button" class="w-100 btn btn-outline-secondary btn-lg btn-block">
                Create new order
            </button>
        </a>
    </div>

</div>


<footer th:insert="blocks/page-blocks.html :: footer"></footer>
</body>
</html>