<div th:fragment="base-item-table">
    <th:block th:if="${itemList.size() > 0}">
        <div class="table-responsive-md ">
            <table class="w-100 table table-striped">
                <caption th:text="|${itemType} type table|"></caption>
                <thead>
                <tr class="table-dark">
                    <th:block th:insert="blocks/table-titles :: base-item-titles(${itemList.get(0).getClass().getSimpleName().toLowerCase()})"></th:block>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="item, iterator: ${itemList}">
                    <th class="align-middle" scope="row" th:text="${iterator.count}">#</th>
                    <td class="align-middle" th:text="${item.getClass().getSimpleName()}">Type</td>
                    <td class="align-middle" th:text="${item.getId()}">Id</td>
                    <td class="align-middle" th:text="${item.getCategory()}">Category</td>
                    <td class="align-middle" th:text="${item.getName()}">Name</td>
                    <td class="align-middle" th:text="${item.getPrice()}">Price</td>
                    <td class="align-middle" th:text="${order.getQuantity()}">Quantity</td>
                    <th:block th:insert="blocks/view-item-table-values :: ${itemType}"></th:block>
                    <td><input class="form-check-input align-middle" type="checkbox" name="isAvailableInStore"
                               th:value="${item.isAvailableInStore()}" th:checked="${item.isAvailableInStore()}"
                               disabled>
                    </td>
                </tr>
                </tbody>
            </table>
            <th:block th:insert="blocks/navigation :: pagination('/admin/order/view/' + ${order.getId()})"></th:block>
        </div>
    </th:block>

    <th:block th:if="${itemList.size() == 0}">
        <p class="lead" th:text="|No ${itemType.toUpperCase()} items|"></p>
    </th:block>
</div>