<th:block th:fragment="user-titles-with-sorting(pageToRedirect)">
    <th scope="col">#</th>
    <th th:replace="blocks/sorting :: sorting('id','ID', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('createdAt','CREATED', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('updatedA t','UPDATED', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('username','USERNAME', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('email','EMAIL', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('logInProvider','PROVIDER', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('role','ROLE', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('enabled','ENABLE', ${pageToRedirect})"></th>
</th:block>
