<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Access denied</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="blocks/attachments.html :: links">
</head>
<body>
<header th:insert="/blocks/page-blocks :: header"></header>

<div class="container align-middle">
    <!--  TODO  -->
    <h1>Access denied.</h1>
<!--    <h2 th:text="|Path: ${path}|"></h2>-->

    <div sec:authorize="isAuthenticated()">
        User info: <br>
        username: '<b><span sec:authentication="name">Username</span></b>' <br>
        User authorities: '<i><span sec:authentication="principal.authorities">Roles</span></i>'
<!--        &nbsp;-->
    </div>
</div>

<footer th:insert="/blocks/page-blocks :: footer"></footer>
</body>
</html>
