<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="blocks/bootstrap-css-style.html :: style">
    <link/>
</head>
<body>
<header th:insert="blocks/page-blocks.html :: header"></header>



<div class="container mt-5 mb-5">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Add new item menu</h4>
        </div>

        <div class="card-body">
            <form id="formElem">
                <div class="row gy-6">
<!--                    <div th:insert="blocks/add-item-forms.html :: ${addItemForm}"></div>-->
                </div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Add item</button>
            </form>

<!--            <div>-->
<!--                <hr class="my-4">-->
<!--                <button type="button" onclick="location.href='/add_menu'" class="w-100 btn btn-lg btn-outline-primary">-->
<!--                    Back-->
<!--                </button>-->
<!--                <br>-->
<!--                <script>-->
<!--                    formElem.onsubmit = async (e) => {-->
<!--                        e.preventDefault();-->
<!--                        fetchAddingItemFormWithJsonBody("formElem", "/add_item", "post", "/add_menu");-->
<!--                    };-->
<!--                </script>-->
<!--            </div>-->
        </div>
    </div>
</div>

<footer th:insert="blocks/page-blocks.html :: footer"></footer>

</body>
</html>