<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/utils.js"></script>
    <title>Add item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="blocks/bootstrap-css-style.html :: style">
    <link/>
</head>
<body>
<header th:insert="blocks/page-blocks.html :: header"></header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 text-center">
    <h1 class="display-4">Add item panel</h1>
    <hr>
    <p class="lead">You can add new item</p>
    <hr>
    <div class="container">
        <div class="row mt-5 mb-5">
            <a th:href="@{/admin/item/catalog}">
                <button type="button" class="w-100 btn btn-outline-secondary btn-lg btn-block">
                    Item catalog
                </button>
            </a>
            <a th:href="@{/admin}">
                <button type="button" class="w-100 btn btn-outline-secondary btn-lg btn-block">
                    Admin home
                </button>
            </a>
            <a th:href="@{/admin/exit}">
                <button type="button" class="w-100 btn btn-outline-danger btn-lg btn-block">
                    Exit
                </button>
            </a>
        </div>
    </div>
    <!--    <hr>-->
    <!--    <div class="container">-->
    <!--        <button type="button" class="btn btn-secondary btn-lg btn-block">-->
    <!--            Create new category-->
    <!--        </button>-->
    <!--    </div>-->
</div>

<div class="container">
    <div class="album mb-3 bg-light text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h3 class="my-0 font-weight-normal" th:text="|New ${itemType.toUpperCase()} card|">New item card</h3>
            </div>
            <div class="card-body">
                <form id="formElem" class="needs-validation">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="itemName" class="form-label">Category</label>
                            <div class="input-group has-validation">
                                <input type="text" name="category" class="form-control" aria-label="Text input with dropdown button"
                                       placeholder="Item category" required="">
                                <div class="input-group-append">
                                    <!--                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"-->
                                    <!--                                aria-haspopup="true" aria-expanded="false">Choose-->
                                    <!--                        </button>-->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    Item category is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="itemName" class="form-label">Item name</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" name="name" class="form-control" id="itemName" placeholder="Item name"
                                       required="">
                                <div class="invalid-feedback">
                                    Item name is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="itemPrice" class="form-label">Price</label>
                            <div class="input-group mb-3 has-validation">
                                <span class="input-group-text">$</span>
                                <input type="number" name="price" class="form-control" id="itemPrice" placeholder="0" required="">
                                <div class="invalid-feedback">
                                    Item price is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="itemQuantity" class="form-label">Quantity</label>
                            <div class="input-group mb-3 has-validation">
                                <input type="number" name="quantity" class="form-control" id="itemQuantity" placeholder="1" required="">
                                <div class="invalid-feedback">
                                    Item quantity is required.
                                </div>
                            </div>
                        </div>

                        <div th:insert="blocks/add-item-form-blocks.html :: ${itemType}"></div>

                        <div class="d-flex justify-content-around align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" name="is_available_in_store" type="checkbox" role="switch"
                                       id="flexSwitchCheckChecked" value="true" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Is available</label>
                            </div>
                        </div>
                        <small class="text-muted">Do not forget to fill all fields</small>

                    </div>
                    <hr>
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Create new item</button>
                </form>


            </div>
            <script th:inline="javascript">
                formElem.onsubmit = async (e) => {
                    e.preventDefault();
                    fetchAddingItemFormWithJsonBodyWithItemClassType("formElem", "/admin/item/add", "post", "/admin", [[${itemType}]]);
                };
            </script>
        </div>
    </div>
</div>

<footer th:insert="blocks/page-blocks.html :: footer"></footer>
</body>
</html>