<div th:fragment="magazine">
    <div th:insert=" :: input-literature-pages"></div>
</div>

<div th:fragment="newspaper">
    <div th:insert=" :: input-literature-pages"></div>
</div>

<div th:fragment="book">
    <div th:insert=" :: input-literature-pages"></div>
    <div th:insert=" :: input-literature-author"></div>
    <div th:insert=" :: input-literature-date"></div>
</div>

<div th:fragment="comics">
    <div th:insert=" :: input-literature-pages"></div>
    <div th:insert=" :: input-literature-publisher"></div>
</div>

<div th:fragment="input-literature-pages">
    <div class="col-12">
        <label for="literaturePages" class="form-label">Pages</label>
        <div class="input-group mb-3 has-validation">
            <input type="number" name="pages" class="form-control" id="literaturePages" placeholder="1" required="">
            <div class="invalid-feedback">
                'Pages' field is required.
            </div>
        </div>
    </div>
</div>

<div th:fragment="input-literature-author">
    <div class="col-12">
        <label for="literatureAuthor" class="form-label">Author</label>
        <div class="input-group mb-3 has-validation">
            <input type="text" name="author" class="form-control" id="literatureAuthor" placeholder="1" required="">
            <div class="invalid-feedback">
                'Author' field is required.
            </div>
        </div>
    </div>
</div>

<div th:fragment="input-literature-publisher">
    <div class="col-12">
        <label for="literaturePublisher" class="form-label">Author</label>
        <div class="input-group mb-3 has-validation">
            <input type="text" name="publisher" class="form-control" id="literaturePublisher" placeholder="publisher" required="">
            <div class="invalid-feedback">
                'Publisher' field is required.
            </div>
        </div>
    </div>
</div>

<div th:fragment="input-literature-date">
    <div class="col-12">
        <label for="literatureDate" class="form-label">Date of issue</label>
        <input type="date" name="date" class="form-control" id="literatureDate" required=""
               data-date-format="yyyy-mm-dd">
        <div class="invalid-feedback">
            'Date' field is required.
        </div>
    </div>
</div>