<th:block th:fragment="magazine">
    <th:block th:insert=" :: details-literature-pages"></th:block>
</th:block>

<th:block th:fragment="newspaper">
    <th:block th:insert=" :: details-literature-pages"></th:block>
</th:block>

<th:block th:fragment="book">
    <th:block th:insert=" :: details-literature-pages"></th:block>
    <th:block th:insert=" :: details-literature-author"></th:block>
    <th:block th:insert=" :: details-literature-date"></th:block>
</th:block>

<th:block th:fragment="comics">
    <th:block th:insert=" :: details-literature-pages"></th:block>
    <th:block th:insert=" :: details-literature-publisher"></th:block>
</th:block>

<th:block th:fragment="details-literature-pages">
    <div class="mb-3 row">
        <label for="literaturePages" class="col-sm-2 col-form-label d-flex justify-content-end">Pages</label>
        <div class="col-sm-10">
            <div class="details-group has-validation">
                <input type="number" name="pages" class="form-control" id="literaturePages" placeholder="1"
                       th:value="${item != null ? item.getPages() : ''}" required="">
                <div class="invalid-feedback">
                    'Pages' field is required.
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="details-literature-author">
    <div class="mb-3 row">
        <label for="literatureAuthor" class="col-sm-2 col-form-label d-flex justify-content-end">Author</label>
        <div class="col-sm-10">
            <div class="details-group has-validation">
                <input type="text" name="author" class="form-control" id="literatureAuthor" placeholder="Author"
                       th:value="${item != null ? item.getAuthor() : ''}" required="">
                <div class="invalid-feedback">
                    'Author' field is required.
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="details-literature-publisher">
    <div class="mb-3 row">
        <label for="literaturePublisher" class="col-sm-2 col-form-label d-flex justify-content-end">Author</label>
        <div class="col-sm-10">
            <div class="details-group has-validation">
                <input type="text" name="publisher" class="form-control" id="literaturePublisher" placeholder="publisher"
                       th:value="${item != null ? item.getPublisher() : ''}" required="">
                <div class="invalid-feedback">
                    'Publisher' field is required.
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="details-literature-date">
    <div class="mb-3 row">
        <label for="literatureDate" class="col-sm-2 col-form-label d-flex justify-content-end">Date of issue</label>
        <div class="col-sm-10">
            <div class="input-group has-validation">
                <input type="date" name="date" class="form-control" id="literatureDate" required=""
                       th:value="${item != null ? #dates.format(item.getDateOfIssue(), 'yyyy-MM-dd') : ''}" data-date-format="yyyy-mm-dd">
                <div class="invalid-feedback">
                    'Date field is required.'
                </div>
            </div>
        </div>
    </div>
</th:block>