<div th:fragment="magazine">
    <td>
        <input class="form-control" type="number" name="pages" th:value="${item.getPages()}">
    </td>
</div>

<div th:fragment="newspaper">
    <td>
        <input class="form-control" type="number" name="pages" th:value="${item.getPages()}">
    </td>
</div>

<div th:fragment="book">
    <td>
        <input class="form-control" type="number" name="pages" th:value="${item.getPages()}">
    </td>
    <td>
        <input class="form-control" type="text" name="author" th:value="${item.getAuthor()}">
    </td>
    <td>
        <input class="form-control" type="date" name="date" th:value="${#dates.format(item.getDateOfIssue(), 'yyyy-MM-dd')}">
    </td>
</div>

<div th:fragment="comics">
    <td>
        <input class="form-control" type="number" name="pages" th:value="${item.getPages()}">
    </td>
    <td>
        <input class="form-control" type="text" name="publisher" th:value="${item.getPublisher()}">
    </td>
</div>