<th:block th:fragment="checkBox(checkboxName, iterator)">
    <th:block th:insert="blocks/generated-scripts :: checkBoxWithNameAndIterator(${checkboxName}, ${iterator})"></th:block>
</th:block>

<th:block th:fragment="checkBoxWithName(checkboxName)">
    <script th:utext="|
        let ${checkboxName} = document.getElementById('${checkboxName}');
        ${checkboxName}.addEventListener('change', () => {
            if (${checkboxName}.checked) {
                ${checkboxName}.value = 'true';
            } else {
                ${checkboxName}.value = 'false';
            }
        });|">
    </script>
</th:block>

<th:block th:fragment="checkBoxWithNameAndIterator(checkboxName, iterator)">
    <script th:utext="
        'const checkboxId' + ${iterator.count}+' = &quot;#' + ${checkboxName} + ${iterator.count} + '&quot;;'
        + 'const checkbox' + ${iterator.count}+' = document.querySelector(checkboxId' + ${iterator.count}+');'
        + 'checkbox' + ${iterator.count}+'.addEventListener(&quot;change&quot;, () => {'
            + 'if (checkbox' + ${iterator.count}+'.checked) {'
                + 'checkbox' + ${iterator.count}+'.value = &quot;true&quot;;'
            + '} else {'
                + 'checkbox' + ${iterator.count}+'.value = &quot;false&quot;;'
            + '}'
        + '});'">
    </script>
</th:block>
