<div th:fragment="add-item-button">
    <a th:href="|@{/admin/item/add/}${itemType.toLowerCase()}|">
        <button type="button" class="w-100 btn btn-outline-secondary btn-lg btn-block"
                th:text="|Add item|">Add
        </button>
    </a>
</div>

<div th:fragment="view-items-button">
    <a th:href="|@{/admin/item/view/}${itemType.toLowerCase()}|">
        <button type="button" class="w-100 btn btn-outline-secondary btn-lg btn-block"
                th:text="|View ${itemType.toUpperCase()} panel|">View
        </button>
    </a>
</div>

<div th:fragment="add-menu">
    <th:block th:if="${!itemType.toLowerCase().equals('all')}">
        <hr>
        <div class="container">
            <div class="row mt-5 mb-5">
                <div th:insert="blocks/item-panel-menu.html :: view-items-button"></div>
            </div>
        </div>
    </th:block>
</div>

<div th:fragment="base-menu">
    <div class="container">
        <div class="row mt-5 mb-5">
            <a th:href="@{/admin}">
                <button type="button" class="w-100 btn btn-outline-secondary btn-lg btn-block">
                    Admin home
                </button>
            </a>
            <a th:href="@{/admin/item/catalog}">
                <button type="button" class="w-100 btn btn-outline-secondary btn-lg btn-block">
                    Item catalog panel
                </button>
            </a>
            <a th:href="@{/admin/exit}">
                <button type="button" class="w-100 btn btn-outline-danger btn-lg btn-block">
                    Exit
                </button>
            </a>
        </div>
    </div>
</div>
