<div th:fragment="pagination(pageToRedirect)">
  <nav aria-label="Pagination" th:if="${totalPages > 0}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
        <a th:replace="blocks/paging :: paging(1, '<<', 'First Page', ${pageToRedirect})"></a>
      </li>
      <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
        <a th:replace="blocks/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page', ${pageToRedirect})"></a>
      </li>
      <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
        <a class="page-link" href="#">...</a>
      </li>
      <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
          th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1 , currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
        <a th:replace="blocks/paging :: paging(${page}, ${page}, 'Page ' + ${page}, ${pageToRedirect})"></a>
      </li>
      <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
        <a class="page-link" href="#">...</a>
      </li>
      <li class="page-item font-weight-bold"
          th:classappend="${currentPage == totalPages} ? 'disabled'">
        <a th:replace="blocks/paging :: paging(${currentPage + 1},'Next', 'Next Page', ${pageToRedirect})"></a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
        <a th:replace="blocks/paging :: paging(${totalPages}, '>>', 'Last Page', ${pageToRedirect})"></a>
      </li>
    </ul>
  </nav>
</div>

<div th:fragment="tools(pageToRedirect)">
  <div class="album py-5 bg-light text-center">
    <form th:action="${pageToRedirect}" id="searchForm">
      <div class="d-flex justify-content-around align-items-center">
        <div>
          <div class="search">
            <i class="fa fa-search"></i>
            <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                   placeholder="Enter keyword">
            <div class="input-group-append" >
              <button type="submit" class="btn btn-secondary">Search</button>
            </div>
          </div>
        </div>
        <div class="col-md-3 input-group mt-2">
          <div class="input-group-prepend">
            <label class="input-group-text" for="pageSize">Items per page:</label>
          </div>
          <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()"
                  class="size-select"
                  id="pageSize">
            <option th:each="s : ${ {3, 6, 9, 18} }"
                    th:value="${s}"
                    th:text="${s}"
                    th:selected="${s == pageSize}">
            </option>
          </select>
        </div>
        <div class="col-md-1 mt-2">
          <a th:href="${pageToRedirect}">
            <button type="button" class="btn  btn-outline-secondary">Clear</button>
          </a>
        </div>
      </div>
    </form>
    <script type="javascript">
      function changePageSize() {
        $("#searchForm").submit();
      }
    </script>
  </div>
</div>