<a th:fragment="paging(pageNum, label, tooltip, pageToRedirect)" class="page-link"
   th:href="@{${pageToRedirect} + '?'
                           + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''}
                           + 'page=' + ${pageNum} + '&size=' + ${pageSize}
                           + '&sortField=' + ${field}
                           + '&sortDirection=' + ${sortField == field ? reverseSortDirection : sortDirection}
                           }"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>