<th class="align-middle" scope="col" th:fragment="sorting(field, label, pageToRedirect)">
  <a class="link-light" th:href="@{${pageToRedirect} + '?'
                + ${keyword!=null && keyword!='' ? 'keyword=' + keyword + '&' : ''}
                + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                + '&sortField=' + ${field}
                + '&sortDirection=' + ${sortField == field ? reverseSortDirection : sortDirection}
                }">
    [[${label}]]
  </a>
  <span th:if="${sortField == field}" style="color:white"
    th:text="${sortDirection == 'asc' ? '▲' : '▼'}">
  </span>
</th>