<th:block th:fragment="order-titles-with-sorting(pageToRedirect)">
    <th scope="col">#</th>
    <th th:replace="blocks/sorting :: sorting('id','ID', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('userId','UserID', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('dateCreated','DATE', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('comment','COMMENT', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('status','STATUS', ${pageToRedirect})"></th>
</th:block>

<th:block th:fragment="base-item-titles(itemType)">
    <th scope="col">#</th>
    <th scope="col">TYPE</th>
    <th scope="col">ID</th>
    <th scope="col">CATEGORY</th>
    <th scope="col">NAME</th>
    <th scope="col">PRICE</th>
    <th scope="col">QUANTITY</th>
    <th:block th:insert="blocks/table-titles :: ${itemType + '-additional-item-titles'}"></th:block>
    <th scope="col">AVAILABLE</th>
</th:block>

<th:block th:fragment="book-additional-item-titles">
    <th scope="col">PAGES</th>
    <th scope="col">AUTHOR</th>
    <th scope="col">DATE</th>
</th:block>

<th:block th:fragment="comics-additional-item-titles">
    <th scope="col">PAGES</th>
    <th scope="col">PUBLISHER</th>
</th:block>

<th:block th:fragment="magazine-additional-item-titles">
    <th scope="col">PAGES</th>
</th:block>

<th:block th:fragment="newspaper-additional-item-titles">
    <th scope="col">PAGES</th>
</th:block>
<th:block th:fragment="base-item-titles-with-sorting(pageToRedirect)">
    <th scope="col">#</th>
    <th scope="col">TYPE</th>
    <th th:replace="blocks/sorting :: sorting('id','ID', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('category','CATEGORY', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('name','NAME', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('price','PRICE', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('quantity','QUANTITY', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('isAvailableInStore','AVAILABLE', ${pageToRedirect})"></th>
</th:block>

<th:block th:fragment="item-titles-with-sorting(pageToRedirect)">
    <th scope="col">#</th>
    <th scope="col">TYPE</th>
    <th th:replace="blocks/sorting :: sorting('id','ID', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('category','CATEGORY', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('name','NAME', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('price','PRICE', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('quantity','QUANTITY', ${pageToRedirect})"></th>
    <th:block th:insert="blocks/table-titles :: ${itemType}(${pageToRedirect})"></th:block>
    <th th:replace="blocks/sorting :: sorting('isAvailableInStore','AVAILABLE', ${pageToRedirect})"></th>
</th:block>

<div th:fragment="magazine(pageToRedirect)">
    <th th:replace="blocks/sorting :: sorting('pages','PAGES', ${pageToRedirect})"></th>
</div>

<div th:fragment="newspaper(pageToRedirect)">
    <th th:replace="blocks/sorting :: sorting('pages','PAGES', ${pageToRedirect})"></th>
</div>

<div th:fragment="book(pageToRedirect)">
    <th th:replace="blocks/sorting :: sorting('pages','PAGES', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('author','AUTHOR', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('dateOfIssue','DATE', ${pageToRedirect})"></th>
</div>

<div th:fragment="comics(pageToRedirect)">
    <th th:replace="blocks/sorting :: sorting('pages','PAGES', ${pageToRedirect})"></th>
    <th th:replace="blocks/sorting :: sorting('publisher','PUBLISHER', ${pageToRedirect})"></th>
</div>

<div th:fragment="all(pageToRedirect)">
</div>

