<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script src="/utils.js"></script>
    <title>Item details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:insert="blocks/bootstrap-css-style.html :: additional-files">
</head>
<body>
<header th:insert="blocks/admin/header"></header>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 text-center my-md-4">
    <h1 class="display-4">Item details panel</h1>
    <hr>
    <p class="lead" th:text="|${item.getName()} item details|"></p>
</div>

<div class="album py-5 bg-light text-center">

    <div class="container">
        <div class="table-responsive-md">
            <table class="w-100 table table-striped">
                <caption th:text="|Additional info|"></caption>
                <thead>
                <tr class="table-dark">
                    <th scope="col">CREATED</th>
                    <th scope="col">UPDATED</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle" th:text="${item.getCreatedAt()}">CreatedAt</td>
                    <td class="align-middle" th:text="${item.getUpdatedAt()}">UpdateAt</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="m-2 p-2">
        <div class="table-responsive-md">
            <table class="w-100 table table-striped">
                <caption th:text="|Item ${item.getName()} table|"></caption>
                <thead>
                <tr class="table-dark">
                    <th:block th:insert="blocks/table-titles :: base-item-titles(${item.getTypeStr()})"></th:block>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <form id="formElem" class="needs-validation">
                        <td class="align-middle" th:text="${item.getTypeStr()}">Type</td>
                        <td class="align-middle" th:text="${item.getId()}">Id</td>
                        <input type="hidden" th:value="${item.getId()}" name="item_id">
                        <td class="align-middle">
                            <input class="form-control align-middle" type="text" name="category"
                                   th:value="${item.getCategory()}">
                        </td>
                        <td class="align-middle">
                            <input class="form-control align-middle" type="text" name="name" th:value="${item.getName()}">
                        </td>
                        <td class="align-middle">
                            <input class="form-control align-middle" type="number" name="price" min="0" th:value="${item.getPrice()}">
                        </td>
                        <td class="align-middle">
                            <input class="form-control align-middle" type="number" name="quantity" min="0"
                                   th:value="${item.getQuantity()}">
                        </td>
                        <th:block th:insert="blocks/edit-item-table-values :: ${item.getTypeStr()}"></th:block>
                        <td class="align-middle">
                            <input id="checkbox" class="form-check-input align-middle"
                                   name="is_available_in_store" type="checkbox"
                                   role="switch"
                                   th:value="${item.isAvailableInStore()}"
                                   th:checked="${item.isAvailableInStore()}">
                            <th:block th:insert="blocks/generated-scripts :: checkBoxWithName(checkbox)"></th:block>
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-outline-success" type="submit">Save changes</button>
                        </td>
                        <script th:inline="javascript">
                            formElem.onsubmit = async (e) => {
                                e.preventDefault();
                                fetchAddingItemFormWithJsonBodyWithItemClassType(
                                    "formElem",
                                    "/admin/item/add",
                                    "post",
                                    "/admin/item/details/" + [[${item.getId()}]],
                                    [[${item.getTypeStr()}]]
                                );
                            };
                        </script>
                    </form>
                    <td>
                        <button id="deleteButton" class="btn btn-outline-danger" type="submit">Delete item</button>
                    </td>
                    <script th:inline="javascript">
                        deleteButton.onclick = async (e) => {
                            e.preventDefault();
                            askToDelete(
                                [[${item.getId()}]],
                                "/admin/item/catalog/"
                            );
                        };
                    </script>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <th:block th:unless="true">
        <div class="m-2 p-2">
            <div class="table-responsive-md">
                <table class="w-100 table table-striped">
                    <caption th:text="|Item images table|"></caption>
                    <thead>
                    <tr class="table-dark">
                        <!--                        <th:block th:insert="blocks/table-titles :: base-item-titles(${item.getTypeStr()})"></th:block>-->
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">IMAGE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="image, iterator: ${imageList}">
                        <td class="align-middle" th:text="${iterator}">#</td>
                        <td class="align-middle" th:text="${image.getName()}">NAME</td>
                        <td class="align-middle">
                            <img class="card-img-top"
                                 th:src="|@{/image/}@{image.getId()}|"
                                 th:alt="${image.getName()}"
                                 height="400">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </th:block>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload Image</h2>
                <form method="post" th:action="|@{/admin/item/}${item.getId()}/image|" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="imageFile" accept="image/*" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload image</button>
                </form>
            </div>
        </div>
    </div>

</div>

<footer th:insert="blocks/page-blocks.html :: footer"></footer>
</body>
</html>